<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-saathratri-entity-2-heading"
        data-cy="SaathratriEntity2CreateUpdateHeading"
        jhiTranslate="blogApp.blogSaathratriEntity2.home.createOrEditLabel"
      >
        Create or edit a Saathratri Entity 2
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div formGroupName="compositeId">
          <div class="mb-3">
            <label class="form-label" for="field_entityTypeId" jhiTranslate="blogApp.blogSaathratriEntity2.entityTypeId"
              >Entity Type Id</label
            >
            <input
              type="text"
              class="form-control"
              name="entityTypeId"
              id="field_entityTypeId"
              data-cy="entityTypeId"
              formControlName="entityTypeId"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="field_yearOfDateAdded" jhiTranslate="blogApp.blogSaathratriEntity2.yearOfDateAdded"
              >Year Of Date Added</label
            >
            <input
              type="number"
              class="form-control"
              name="yearOfDateAdded"
              id="field_yearOfDateAdded"
              data-cy="yearOfDateAdded"
              formControlName="yearOfDateAdded"
            />
          </div>
          <!-- <div class="mb-3">
            <label class="form-label" for="field_arrivalDate" jhiTranslate="blogApp.blogSaathratriEntity2.arrivalDate">Arrival Date</label>
            <input
              type="number"
              class="form-control"
              name="arrivalDate"
              id="field_arrivalDate"
              data-cy="arrivalDate"
              formControlName="arrivalDate"
            />
          </div> -->
          <div class="mb-3">
            <label class="form-label" for="field_arrivalDate" jhiTranslate="blogApp.blogSaathratriEntity2.arrivalDate">Arrival Date</label>
            <div class="input-group">
              <input
                id="field_arrivalDate"
                data-cy="arrivalDate"
                type="text"
                class="form-control"
                name="arrivalDate"
                ngbDatepicker
                #arrivalDateDp="ngbDatepicker"
                formControlName="arrivalDate"
              />
              <button type="button" class="btn btn-secondary" (click)="arrivalDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </div>
            @if (editForm.get('arrivalDate')!.invalid && (editForm.get('arrivalDate')!.dirty || editForm.get('arrivalDate')!.touched)) {
              <div>
                @if (editForm.get('arrivalDate')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                }
              </div>
            }
          </div>
          <div class="mb-3">
            <label class="form-label" for="field_blogId" jhiTranslate="blogApp.blogSaathratriEntity2.blogId">Blog Id</label>
            <input type="text" class="form-control" name="blogId" id="field_blogId" data-cy="blogId" formControlName="blogId" />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_entityName" jhiTranslate="blogApp.blogSaathratriEntity2.entityName">Entity Name</label>
          <input
            type="text"
            class="form-control"
            name="entityName"
            id="field_entityName"
            data-cy="entityName"
            formControlName="entityName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_entityDescription" jhiTranslate="blogApp.blogSaathratriEntity2.entityDescription"
            >Entity Description</label
          >
          <input
            type="text"
            class="form-control"
            name="entityDescription"
            id="field_entityDescription"
            data-cy="entityDescription"
            formControlName="entityDescription"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_entityCost" jhiTranslate="blogApp.blogSaathratriEntity2.entityCost">Entity Cost</label>
          <input
            type="number"
            class="form-control"
            name="entityCost"
            id="field_entityCost"
            data-cy="entityCost"
            formControlName="entityCost"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
