.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.full-width {
  width: 100%;
}

.large-toggle {
  padding: 10px;
  font-size: 18px;
}

.large-toggle .mat-slide-toggle-thumb {
  width: 28px;
  height: 28px;
}

.large-toggle .mat-slide-toggle-bar {
  height: 36px;
  width: 85px;
}

.add-button {
  width: 200px; /* Adjust width */
  height: 40px; /* Adjust height */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between icon and text */
  margin-top: 6px; /* ✅ Adds a 3px shim above the button */
}
