<div class="container">
  <div *ngFor="let entry of mapDetails | keyvalue" class="input-row">
    <mat-form-field appearance="outline">
      <mat-label>Key</mat-label>
      <input matInput [value]="entry.key" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Value</mat-label>
      <input matInput [value]="entry.value" (input)="handleInputChange($event, entry.key)" />
    </mat-form-field>
  </div>

  <button mat-mini-fab color="primary" (click)="addRow('NewKey', 'NewValue')">
    <mat-icon>add</mat-icon>
  </button>
</div>
